{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true,
        "ignoreStrings": true
      }
    ],
    "import/prefer-default-export": ["off"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": false
      }
    ],
    "no-use-before-define": ["error", { "functions": false }]
  }
}
